# Arquivos de credenciais Firebase e Streamlit Secrets
firebase_key.json
.streamlit/secrets.toml

# Ambientes virtuais
venv/
.env

# Arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Arquivos do sistema (Windows, macOS)
.DS_Store
Thumbs.db
